{% extends "challenge.html" %} {% block description %} {{ challenge.html }}
<div
    class="mb-3 text-center"
    id="docker_container"
    x-data="containerStatus('{{ challenge.docker_image }}', '{{ challenge.id }}')"
    x-init="init()"
>
    <!-- Start button - shown when no container is running -->
    <div x-show="!containerRunning">
        <a @click="startContainer()" class="btn btn-dark" style="cursor: pointer">
            <small style="color: white"><i class="fas fa-play"></i> Start Docker Instance</small>
        </a>
    </div>

    <!-- Connection information - shown when container is running -->
    <div x-show="containerRunning">
        <pre x-text="getConnectionInfo()"></pre>
        <div class="mt-2">
            <span x-text="countdownText"></span>
            <!-- Revert button appears when countdown expires -->
            <template x-if="countdownText === 'Revert Available'">
                <a @click="startContainer()" class="btn btn-dark" style="cursor: pointer">
                    <small style="color: white"><i class="fas fa-redo"></i> Revert</small>
                </a>
            </template>
        </div>
    </div>
</div>

<!-- Alpine.js Alert Modal (CTFd Pattern) -->
<div x-data>
    <div class="modal fade" x-ref="alertModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" x-text="$store.alertModal.title"></h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <p x-html="$store.alertModal.body"></p>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        x-text="$store.alertModal.button"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
